mainmenu "Eurus Flight Controller"

config APP_DATA_LOGGING_SYNC_INTERVAL
	int "Data logging Sync interval [ms]"
	default 1000
	help
		This configures the interval at which the logging system flushes everything to disk
		and hence determines the maximum duration of data lost on power cuts.

source "Kconfig.zephyr"
