mainmenu "Eurus Flight Controller"

config APP_DATA_LOGGING_SYNC_INTERVAL
	int "Data logging Sync interval [ms]"
	default 1000
	help
		This configures the interval at which the logging system flushes everything to disk
		and hence determines the maximum duration of data lost on power cuts.

choice APP_PRIMARY_IMU
	prompt "Primary IMU"
	default APP_PRIMARY_IMU_ICM42688P
	help
		This configures Eurus Flight Controller primary IMU.

config APP_PRIMARY_IMU_MPU6050
 	bool "MPU6050"

config APP_PRIMARY_IMU_ICM42688P
	bool "ICM42688P"

endchoice

source "Kconfig.zephyr"
