/ {
    leds {
        compatible = "gpio-leds";
        led: led {
            gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
            label = "LD";
        };
    };

    aliases {
        led0 = &led;
    };
};

/* Enable PWM */
&timers1 {
    status = "okay";

    pwm1: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch1_pwm_out_pa8>;
        pinctrl-names = "default";
    };
    pwm2: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch2_pwm_out_pa9>;
        pinctrl-names = "default";
    };
    pwm3: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch3_pwm_out_pa10>;
        pinctrl-names = "default";
    };
    pwm4: pwm {
        status = "okay";
        pinctrl-0 = <&tim1_ch4_pwm_out_pa11>;
        pinctrl-names = "default";
    };
};
