/*
 * This file is part of the efc project <https://github.com/eurus-project/efc/>.
 * Copyright (c) 2024 The efc developers.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

#include <zephyr/dt-bindings/sensor/icm42688.h>

/ {
	chosen {
		zephyr,console = &cdc_acm_uart;
        zephyr,shell-uart = &cdc_acm_uart;
		telemetry,ground = &usart1;
        futaba,sbus = &sbus_usart;
	};
};

&pll {
	div-q = <6>;
};

&clk_hsi48 {
    status = "okay";
};

&zephyr_udc0 {
	cdc_acm_uart: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};

&spi1 {
    status = "okay";
    cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

	sdhc0: sdhc@0 {
                compatible = "zephyr,sdhc-spi-slot";
                reg = <0>;
                status = "okay";
                mmc {
                    compatible = "zephyr,sdmmc-disk";
                    disk-name = "SD_SPI";
                    status = "okay";
                };
                spi-max-frequency = <24000000>;
        };
};

&spi2 {
    status = "okay";
    pinctrl-0 = <&spi2_sck_pb10 &spi2_miso_pc2 &spi2_mosi_pc1>;
    pinctrl-names = "default";
    cs-gpios = <&gpiob 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>,
               <&gpioa 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

    bme280@0 {
        compatible = "bosch,bme280";
        reg = <0>;
        spi-max-frequency = <1000000>;
    };

    imu_icm42688p: icm42688@1 {
        compatible = "invensense,icm42688";
        reg = <1>;
        status = "okay";
        label = "ICM42688P";
        spi-max-frequency = <1000000>;
        int-gpios = <&gpioc 0 GPIO_ACTIVE_HIGH>;
        accel-pwr-mode = <ICM42688_DT_ACCEL_LN>;
        accel-fs = <ICM42688_DT_ACCEL_FS_16>;
        accel-odr = <ICM42688_DT_ACCEL_ODR_50>;
        gyro-pwr-mode= <ICM42688_DT_GYRO_LN>;
        gyro-fs = <ICM42688_DT_GYRO_FS_2000>;
        gyro-odr = <ICM42688_DT_GYRO_ODR_50>;
	};
};

&i2c1 {
    pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
    pinctrl-names = "default";
    status = "okay";
    clock-frequency = <I2C_BITRATE_FAST>;

    imu_mpu6050: mpu6050@68 {
		compatible = "invensense,mpu6050";
		reg = <0x68>;
		status = "okay";
		int-gpios = <&gpiob 8 GPIO_ACTIVE_HIGH>;
	};
};

&usart2 {
    pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	status = "okay";

    sbus_usart: sbus {
        compatible = "futaba,sbus";
        right_stick_x {
            channel = <1>;
            type = <INPUT_EV_ABS>;
            zephyr,code = <INPUT_ABS_RX>;
        };
        right_stick_y {
            channel = <2>;
            type = <INPUT_EV_ABS>;
            zephyr,code = <INPUT_ABS_RY>;
        };
        left_stick_x {
            channel = <3>;
            type = <INPUT_EV_ABS>;
            zephyr,code = <INPUT_ABS_THROTTLE>;
        };
        left_stick_y {
            channel = <4>;
            type = <INPUT_EV_ABS>;
            zephyr,code = <INPUT_ABS_RZ>;
        };
    };
};

&adc1 {
    compatible = "st,stm32-adc";
	st,adc-clock-source = "SYNC";
	st,adc-prescaler = <4>;
    status = "okay";
    
	#address-cells = <1>;
	#size-cells = <0>;

    channel@13 {
        reg = <13>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
    };
};
