# MIXER demo configuration

mainmenu "Eurus Flight Controller - MIXER demo"

# ESC Protocol configuration
menu "ESC Configuration"
    choice
        prompt "ESC Protocol Selection"
        default ESC_PWM

    config ESC_PWM
        bool "ESC PWM protocol"

    config ESC_ONESHOT_125
        bool "ESC Oneshot125 protocol"

    config ESC_ONESHOT_42
        bool "ESC Oneshot42 protocol"

    config ESC_MULTISHOT
        bool "ESC Multishot protocol"

    endchoice
endmenu

source "../efc/libs/motor_control/esc/Kconfig"
source "../efc/libs/motor_control/mixer/Kconfig"
source "Kconfig.zephyr"
