name: build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Install required packages
        run: |
          sudo apt update && sudo apt upgrade
          sudo apt install --no-install-recommends -y git cmake ninja-build gperf \
            ccache dfu-util device-tree-compiler wget \
            python3-dev python3-pip python3-setuptools python3-tk python3-wheel xz-utils file \
            make gcc gcc-multilib g++-multilib libsdl2-dev libmagic1 python3-venv

      - name: Create a virtual environment for Zephyr and intall west
        run: |   
          python3 -m venv $GITHUB_WORKSPACE/zephyrproject/.venv
          $GITHUB_WORKSPACE/zephyrproject/.venv/bin/pip install west

      - name: Get Zephyr source code
        run: |
          $GITHUB_WORKSPACE/zephyrproject/.venv/bin/west init -m https://github.com/eurus-project/zephyr \
            $GITHUB_WORKSPACE/zephyrproject/

      - name: Update Zephyr Workspace
        run: |
          cd $GITHUB_WORKSPACE/zephyrproject/
          $GITHUB_WORKSPACE/zephyrproject/.venv/bin/west update
          
      - name: Export Zephyr CMake Package
        run: |
          cd $GITHUB_WORKSPACE/zephyrproject/
          $GITHUB_WORKSPACE/zephyrproject/.venv/bin/west zephyr-export

      - name: Install Python dependencies
        run: |
          cd $GITHUB_WORKSPACE/zephyrproject/
          $GITHUB_WORKSPACE/zephyrproject/.venv/bin/west packages pip --install

      - name: Install Zephyr SDK
        run: |
          cd $GITHUB_WORKSPACE/zephyrproject/
          $GITHUB_WORKSPACE/zephyrproject/.venv/bin/west sdk install

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          path: zephyrproject/${{ github.repository }}

      - name: Install project requirements
        run: |
          cd $GITHUB_WORKSPACE/zephyrproject/${{ github.repository }}
          python3 -m venv python_venv
          python_venv/bin/pip install -r requirements.txt

      - name: Build project
        run: |
          cd $GITHUB_WORKSPACE/zephyrproject/${{ github.repository }}
          $GITHUB_WORKSPACE/zephyrproject/.venv/bin/west build -b blackpill_f411ce
