name: build

on:
  push:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          path: efc

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Setup Zephyr project
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: efc
          toolchains: arm-zephyr-eabi

      - name: Install project requirements
        run: |
          cd ./efc
          python -m venv python_venv
          source python_venv/bin/activate
          pip install -r requirements.txt
          deactivate

      - name: Build project
        run: |
          west build -b eurus_nexus_v1_1 efc/app

