name: pre-commit-checks

on: 
  push:
  
jobs:
  formatting-check:
    runs-on: ubuntu-24.04
    steps:
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install pre-commit
        run: |   
          pip install pre-commit

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run pre-commit
        run: |
          git fetch origin
          pre-commit run --from-ref origin/master --to-ref HEAD --show-diff-on-failure
